/* You can add global styles to this file, and also import other style files */
body{
    background: black;
}

h1{
    text-align: center;
    font-size: xxx-large;
    color: red;
    margin: 8px 0;
}